<div class="row">
  <div class="col-md-2">
    <!-- <span class="hipster img-fluid rounded"></span> -->
  </div>

  <div class="col-md-8">
    <!-- <h1 class="display-4" jhiTranslate="home.title">Welcome, Node Hipster Official Blueprint!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p> -->
    <h1 style="padding-bottom: 50px; text-align: center; font-weight: bold">Pagina inicio del OCM Jerez</h1>
    <p style="text-align: justify">
      El Observatorio Ciudadano Municipal de Jerez es una asociación sin ánimo de lucro, constituida por personas del mismo municipio,
      <span style="color: red; font-weight: bold">independiente de la administración pública y de los partidos políticos</span>, que promueve la transparencia en el Ayuntamiento de Jerez, el
      conocimiento colectivo sobre su gestión y la participación ciudadana en la localidad.
    </p>
    <h3 style="padding-top: 20px">¿Qué hacemos?</h3>
    <p style="text-align: justify">
      Analizamos los presupuestos y las cuentas municipales y promovemos las peticiones de información al respecto al Ayuntamiento de Jerez.
      Necesitamos personas voluntarias que analicen los presupuestos y las cuentas, traten los datos para su visualización, ayuden con las
      peticiones de información, gestionen la web, redes sociales, etc. ¡Todo el mundo es bienvenido!.<br/>
      Me interesa que deis una charla en mi entidad, ¿qué debo hacer? Ponte en contacto con nosotros e iremos encantados.
    </p>
    <h3 style="padding-top: 20px">¿Y si tengo más dudas?</h3>
    Escríbenos a  <span>
        <a href="mailto:info@ocmjerez.org">info@ocmjerez.org</a>
      </span> y hablamos.

    <h2 style="padding-top: 40px; text-align: center; color: rgb(25, 37, 216); font-weight: bold">
      Solicitudes al Portal de Transparencia del Ayuntamiento de Jerez
    </h2>
    El OCM cursa solicitudes al Portal de Transparencia con la finalidad de obtener información que consideramos es pública y no esta
    publicada o no lo está en una forma adecuada.<br /><br />
    Pulsando sobre la imagen inferior podrás ver un listado de las solicitudes cursadas hasta la actualidad.

      <div style="padding-top: 20px">
        <a routerLink="solicitud">
          <img class="img mx-auto d-block" src="../../content/images/Solicitudes.png" />
        </a>
      </div>
  </div>

  <div class="col-md-2"></div>
</div>
